<ion-view view-title="King Escape About">
    <ion-content>
        <div class="bar bar-header custom-header">
            <button ng-click="homePath()">
                <i class="ion-arrow-left-c"></i> Home
            </button>
            <h1 class="title">How to Play</h1>
        </div>
        <br/><br/>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/king.svg">
                <h2>Touch &amp; Move</h2>
                <p>Controls</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/arrowControls.png">
                <p>You can only move the postition of the king one cell at the time.</p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/king.svg">
                <h2>Tabs Actions</h2>
                <p>Controls</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/tabsControls.png">
                <p>
                    <b>- Lives :</b> number of lives you have, you can get additional lives if they spawn on the map<br/>
                    <b>- Bombs :</b> number of bombs you have, you can get additional bombs if they spawn on the map. By using the bomb, you destroy a random enemy.<br/>
                    <b>- Teleport :</b> you can teleport your king in a random free cell at any moment.<br/>
                    <b>- Restart :</b> restart the game at any moment.<br/>
                    <b>- Quit :</b> quit the game at any moment.
                </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/king.svg">
                <h2>Customs Settings</h2>
                <p>Settings</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/settings.png">
                <p>
                    <b>- Music :</b> you can turn off or on some sweet music.<br/>
                    <b>- Game Volume :</b> you can turn off or on some game volume effect.<br/>
                    <b>- Colorways :</b> you can change colorways depending on your mood.<br/>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
