<ion-view view-title="King Escape">
    <ion-content>
        <div class="bar bar-header custom-header">
            <h1 class="title">King Escape</h1>
        </div>
        <div id="home-wrap">
            <div id="home-button-wrap">
                <button class="button button-block custom-button" type="button" ng-click="levelPath()">Start Game</button>
                <button class="button button-block custom-button" type="button" ng-click="aboutPath()">How to Play</button>
                <button class="button button-block custom-button" type="button" ng-click="settingsPath()">Settings</button>
            </div>
        </div>
    </ion-content>
</ion-view>
