<template name="sectionTryit">
    <div class="row black_bg top_200">
        <div class="top_50"></div>
        <div class="container-fluid top_50">
            <div class="row">
                <div class="center">
                    <p class="white_c nunito lege">
                        You want to be part of our community ? <br>Don’t hesitate ! Come and try our platform and discover our world and a lot of profil everywhere in US !
                    </p>
                </div>
            </div>
            <div class="top_20"></div>
            <div class="row">
                <div class="center">
                    <div class="btn-group">
                        <a href="{{pathFor 'atSignUp'}}">
                            <button type="button" class="btn btn-lead dropdown-toggle animated bounce size_150">
                                Let's Try
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
