<template name="sectionPost">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-0 col-sm-12 col-xs-offset-1 col-xs-10 white_bg pad_bottom_30">
                <div class="row marge_top_20">
                    <div class="col-lg-12 margin_left_35 center">
                        <h3 class="roboto uppercase lege pad_top_30 pad_bottom_30">Recent post</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 grey_bg">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <img src="/images/userPics/modele_1.png" alt="picture user" class="img_user_post"/>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <p class="nunito lege pad_top_10 size_txt">
                                        Jade is looking <span class="rose_c"> a photographers</span> for  <span class="rose_c">funy shooting</span>.
                                    </p>
                                    <p class="grey_c lege oblique">
                                        6 hours ago | <span class="glyphicon glyphicon-map-marker grey_c_lege"></span> Paris
                                    </p>
                                </div>
                            </div>
                            <div class="row center">
                                <span class="nunito lege"><span class="glyphicon glyphicon-tag grey_c_lege"></span>Shooting Capitale</span>
                                <span class="nunito lege"><span class="glyphicon glyphicon-tag grey_c_lege"></span>Womens</span>
                                <span class="nunito lege"><span class="glyphicon glyphicon-tag grey_c_lege"></span>My Birthday</span>
                            </div>
                            <div class="top_15"></div>
                            <div class="row">
                                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 height_min">
                                    <p class="nunito lege black_c">
                                        Hi everyone, i need a photographers for take funy picture for my birthday in my house. I would pictures same that picture below
                                    </p>
                                </div>
                            </div>
                            <div class="top_15"></div>
                            <div class="row pad_bottom_30">
                                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
                                    <img src="/images/userPics/people.jpg" alt="picture post" class="img_post"/>
                                </div>
                            </div>
                            <div class="row">
                                <p class="center">
                                    <span class="cursor"><span class="glyphicon glyphicon-arrow-up rose_c"></span>  243 Up</span> <span class="grey_c_lege">|</span> <span class="cursor"><span class="glyphicon glyphicon glyphicon-edit rose_c"></span>  54 Coment</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 grey_bg border_left">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <img src="/images/userPics/modele_4.png" alt="picture user" class="img_user_post"/>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <p class="nunito lege pad_top_10 size_txt">
                                        Julie is looking <span class="rose_c"> a modele</span> for <span class="rose_c">portait shooting</span>.
                                    </p>
                                    <p class="grey_c lege oblique">
                                        5 hours ago | <span class="glyphicon glyphicon-map-marker grey_c_lege"></span> Bordeaux
                                    </p>
                                </div>
                            </div>
                            <div class="row center">
                                <span class="nunito lege"><span class="glyphicon glyphicon-tag grey_c_lege"></span>Shooting Capitale</span>
                                <span class="nunito lege"><span class="glyphicon glyphicon-tag grey_c_lege"></span>Womens</span>
                                <span class="nunito lege"><span class="glyphicon glyphicon-tag grey_c_lege"></span>My Birthday</span>
                            </div>
                            <div class="top_15"></div>
                            <div class="row">
                                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 height_min">
                                    <p class="nunito lege black_c">
                                        Hi , i need a modele for take portrait picture because i have student project. I would pictures same that picture below
                                    </p>
                                </div>
                            </div>
                            <div class="top_15"></div>
                            <div class="row pad_bottom_30">
                                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
                                    <img src="/images/userPics/people_2.jpg" alt="picture post" class="img_post"/>
                                </div>
                            </div>
                            <div class="row">
                                <p class="center">
                                    <span class="cursor"><span class="glyphicon glyphicon-arrow-up rose_c"></span>  243 Up</span> <span class="grey_c_lege">|</span> <span class="cursor"><span class="glyphicon glyphicon glyphicon-edit rose_c"></span>  54 Coment</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
