<template name="TopModels">
    <div class="row">
       <div class="container">
           <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-0 col-sm-12 col-xs-offset-1 col-xs-10 white_bg" >
           <div class="row marge_top_20">
             <div class="col-lg-12 margin_left_35 center">
               <h3 class="roboto uppercase lege pad_top_30 pad_bottom_10">Models of the week</h3>
               <p class="lege nunito pad_bottom_15">
                   Discover the rating of the best models of the week. Sign up and get a chance to be in this top !
               </p>
             </div>
           </div>
           <div class="row marge_top_20">
               <div class="col-lg-offset-1 col-lg-10">
                    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                     <img src="/images/userPics/modele_6.png" width="100%">
                       <div class="text-top roboto lege">
                         <p>Daphné,<br> Paris<br>
                         <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 15 followers</span></p>
                       </div>
                   </div>
                   <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                     <img src="/images/userPics/modele_5.png" width="100%">
                       <div class="text-top roboto lege">
                         <p>Olivia,<br> Paris<br>
                         <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 9 followers</span></p>
                       </div>
                   </div>
                   <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                     <img src="/images/userPics/modele_1.png" width="100%">
                       <div class="text-top roboto lege">
                         <p>Albane,<br>Paris<br>
                         <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 13 followers</span></p>
                       </div>
                   </div>
                   <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                     <img src="/images/userPics/modele_4.png" width="100%">
                       <div class="text-top roboto lege">
                         <p>Charlotte,<br> Paris<br>
                         <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 22 followers</span></p>
                       </div>
                   </div>
                 </div>
                 <div class="col-lg-offset-1 col-lg-10">
                    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                     <img src="/images/userPics/modele_10.png" width="100%">
                       <div class="text-top roboto lege">
                         <p>Marine,<br> Paris<br>
                         <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 15 followers</span></p>
                       </div>
                   </div>
                   <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                     <img src="/images/userPics/modele_9.png" width="100%">
                       <div class="text-top roboto lege">
                         <p>Jessica,<br> Paris<br>
                         <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 9 like</span></p>
                       </div>
                   </div>
                   <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                     <img src="/images/userPics/modele_8.png" width="100%">
                       <div class="text-top roboto lege">
                         <p>Jordan,<br> Paris<br>
                         <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 13 like</span></p>
                       </div>
                   </div>
                   <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                     <img src="/images/userPics/modele_7.png" width="100%">
                       <div class="text-top roboto lege">
                         <p>Jade,<br> Paris<br>
                         <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 22 like</span></p>
                       </div>
                   </div>
                 </div>
             </div>
             <div class="row center pad_top_30 pad_bottom_30">
               <a href="error_404.php">
                 <button type="button" class="btn_see">
                   See All models
                 </button>
               </a>
             </div>
         </div>
       </div>
   </div>
</template>
