<template name='TopPhotographers'>
    <div class="row">
     <div class="container">
         <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-0 col-sm-12 col-xs-offset-1 col-xs-10 white_bg" >
         <div class="row marge_top_20">
           <div class="col-lg-12 center">
             <h3 class="uppercase roboto lege pad_top_30 pad_bottom_10">Photographe of the week</h3>
             <p class="lege nunito pad_bottom_15">
                 Discover the photographers of the week! Portrait, erotic or nature, they put us full of eyes this week!
             </p>
           </div>
         </div>
         <div class="row marge_top_20">
             <div class="col-lg-offset-1 col-lg-10">
                  <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                   <img src="/images/userPics/photo6-1.jpg" width="100%">
                     <div class="text-top">
                       <p>Valentine,<br> Clamart<br>
                       <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 15 followers</span></p>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                   <img src="/images/userPics/photo5-1.jpg" width="100%">
                     <div class="text-top">
                       <p>Judith,<br> Paris<br>
                       <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 9 followers</span></p>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                   <img src="/images/userPics/photo1-1.jpg" width="100%">
                     <div class="text-top">
                       <p>Julien,<br> Bordeaux<br>
                       <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 13 followers</span></p>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                   <img src="/images/userPics/photo4-1.jpg" width="100%">
                     <div class="text-top">
                       <p>Paul,<br> Clichy<br>
                       <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 22 followers</span></p>
                     </div>
                 </div>
               </div>
               <div class="col-lg-offset-1 col-lg-10">
                  <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                   <img src="/images/userPics/photo8-1.jpg" width="100%">
                     <div class="text-top">
                       <p>lorris,<br> Sevres<br>
                       <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 15 followers</span></p>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                   <img src="/images/userPics/photo2-1.jpg" width="100%">
                     <div class="text-top">
                       <p>Sandrine,<br> Paris<br>
                       <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 9 followers</span></p>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                   <img src="/images/userPics/photo3-1.jpg" width="100%">
                     <div class="text-top">
                       <p>Mathieux,<br> Meudon<br>
                       <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 13 followers</span></p>
                     </div>
                 </div>
                 <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                   <img src="/images/userPics/photo7-1.jpg" width="100%">
                     <div class="text-top">
                       <p>George,<br> Boulogne<br>
                       <span class="rose_c"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> 22 followers</span></p>
                     </div>
                 </div>
               </div>
           </div>
           <div class="row center pad_top_30 pad_bottom_30">
             <a href="error_404.php">
               <button type="button" class="btn_see_photo">
                 See All Photographe
               </button>
             </a>
           </div>
       </div>
    </div>
</div>
</template>
