<template name="_footer">
<div class="top_40"></div>
    <footer>
        <div class="row footer">
            <div class="top_20"></div>
            <div class="center">
                <img src="images/logo.svg"/>
            </div>
            <div class="container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 white_c">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ul class="none_li">
                                <li class="title_ul">SiteMap</li>
                                <li>All Models</li>
                                <li>All Photographer</li>
                                <li>TimeLine </li>
                                <li>My Account</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ul class="none_li">
                                <li>Contact</li>
                                <li>About</li>
                                <li>Privacy</li>
                                <li>Recovery</li>
                                <li>Terms of conditions</li>
                            </ul>
                        </div>
                    </div>
                    <div class="top_20"></div>
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
                        <div class="row center">
                            <i class="fa fa-facebook fa-lg white_c"></i>
                            <i class="fa fa-instagram fa-lg white_c marge_5"></i>
                            <i class="fa fa-twitter fa-lg white_c marge_5"></i>
                            </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-10">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div id="mc_embed_signup">
                                <form action="//antoinelegendre.us12.list-manage.com/subscribe/post?u=143d97296a27c9b083ae15a66&amp;id=a648ba23ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate login" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                        <label for="mce-EMAIL" class="white_c lege">Subscribe to our mailing list</label><br>
                                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_143d97296a27c9b083ae15a66_a648ba23ef" tabindex="-1" value=""></div>
                                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button rose lege"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row black_bg_dark">
            <div class="container">
                <p class="text-center text-muted">
                    &copy; Copyright ATYPICS
                </p>
            </div>
        </div>
    </footer>
</template>
