/***** FONT ****/
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

.roboto{
	font-family: 'Roboto',sans-serif;
}
.nunito{
    font-family: 'Nunito',sans-serif;
}
.lege{
    font-weight: 300;
}
.uppercase{
	text-transform: uppercase;
}
.oblique{
	text-transform: oblique;

}
/***** Align ****/

.center{
    text-align: center;
}

/***** Pading ****/
.pad_l_15{
    padding-left: 15px;
}
.pad_b_40{
    padding-bottom: 40px;
}

/***** MARGE ****/
.pad_top_10{
	padding-top: 10px;
}

.pad_top_10{
	padding-top: 10px;
}
.pad_top_30{
	padding-top: 30px;
}
.pad_bottom_10{
	padding-bottom: 10px;
}
.pad_bottom_15{
	padding-bottom: 15px;
}
.pad_bottom_30{
	padding-bottom: 30px;
}
/***** height ****/
.top_15{
    height: 15px;
}
.top_20{
    height: 20px;
}
.top_40{
    height: 40px;
}
.top_50{
	height: 50px;
}
.top_50{
	height: 50px;
}
.top_200{
	height: 200px;
}
/***** size width ****/

.size_150{
	width: 150px;
}

.cursor{
	cursor: pointer;
}
