/*********** SIGNUP *************/
 /*textarea.form-control{*/
/*	background-color: rgba(46,49,58,0.6);*/
	/*background-color: rgba(255,255,255,0.1);
	border: none;
	border-left: 1px solid rgba(255,255,255,0.1);
	margin-top: 2px;
	height: 70px;
	color: #fff !important;
}
 option.form-control{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	color: #fff !important;
}
 select.form-control{
background-color: rgba(255,255,255,0.1);
	border: none;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 1px solid rgba(255,255,255,0.1);
	padding: 20px 10px;
	margin-top: 1px;
	color: #fff !important;
}
 input.form-control{
/*	background-color: rgba(46,49,58,0.6);*/
/*background-color: rgba(255,255,255,0.1);

	border: none;
	border-left: 1px solid rgba(255,255,255,0.1);
	padding: 20px 10px;
	margin-top: 1px;
	color: #fff !important;
}
input:active
{
   outline:none !important;
}
.login .input-group-addon{
background-color: rgba(255,255,255,0.1);
text-align: right;
	border: none;
}
.log_signup img{
width: 80%;
text-align: center;
}
.at-social-btn{
    width: 20%;
}
.at-oauth{
    width: 30%;
}*/
